<div class="mt-4 align-items-end mb-4">
   <div class="width-600 lh-text">
      Connect user input to screen reactions by using ripples to both indicate the point of touch, and to confirm that
      touch input was received. For touch or mouse, this occurs at the point of contact. <br><br>

      The matRipple attribute directive defines an area in which a ripple animates on user interaction.
   </div>

   <div class="card p-2 width-600">
      <pre>{{c1}}</pre>
   </div>

   <div class="width-600 lh-text">
      By default, a ripple is activated when the host element of the matRipple directive receives mouse or touch events.
      Upon being pressed, a ripple will begin fading in from the point of contact, radiating to cover the host element.
      Each ripple will fade out only upon release of the mouse or touch. <br><br>

      Ripples can also be triggered programmatically by getting a reference to the MatRipple directive and calling its
      launch method. <br><br>
      <h3 class="fw-bold mb-2"> Ripple trigger</h3>

      By default ripples will fade in on interaction with the directive's host element. In some situations, developers
      may want to show ripples on interaction with some other element, but still want to have the ripples placed in
      another location. This can be done by specifying the matRippleTrigger option that expects a reference to an
      HTMLElement.
   </div>


   <div class="card p-2 width-600">
      <pre>{{c2}}</pre>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold">Manual ripples</h3>
      Ripples can be shown programmatically by getting a reference to the MatRipple directive.
   </div>

   <div class="card p-2 width-600">
      <pre>{{c3}}</pre>
   </div>

   <div class="width-600 lh-text">
      In the example above, no specific coordinates have been passed, because the centered ripple option has been set to
      true and the coordinates would not matter. <br><br>

      Ripples that are being dispatched programmatically can be launched with the persistent option. This means that the
      ripples will not fade out automatically, and need to be faded out using the RippleRef (useful for focus
      indicators). <br><br>

      In case, developers want to launch ripples at specific coordinates within the element, the launch() method also
      accepts x and y coordinates as parameters. Those coordinates are relative to the ripple container element.
   </div>

   <div class="card p-2 width-600">
      <pre>{{c4}}</pre>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold">Global options</h3>
      Developers are able to specify options for all ripples inside of their application. <br><br>

      The speed of the ripples can be adjusted and the ripples can be disabled globally as well. <br><br>

      Global ripple options can be specified by setting the MAT_RIPPLE_GLOBAL_OPTIONS provider.
   </div>

   <div class="card p-2 width-600">
      <pre>{{c5}}</pre>
   </div>

   <div class="width-600 lh-text">
      All available global options can be seen in the RippleGlobalOptions interface.
      <h3 class="fw-bold">Disabling animation</h3>
      The animation of ripples can be disabled by using the animation global option. If the enterDuration and
      exitDuration is being set to 0, ripples will just appear without any animation. <br><br>

      This is specifically useful in combination with the disabled global option, because globally disabling ripples
      won't affect the focus indicator ripples. If someone still wants to disable those ripples for performance reasons,
      the duration can be set to 0, to remove the ripple feel.
   </div>

   <div class="card p-2 width-600">
      <pre>{{c6}}</pre>
   </div>

   <div class="width-600 lh-text">
      <span class="fw-bold">Note:</span> Ripples will also have no animation if the NoopAnimationsModule is being used.
      This also means that the durations in the animation configuration won't be taken into account. <br><br>

      <h3 class="fw-bold mb-2">Animation behavior</h3>
      There are two different animation behaviors for the fade-out of ripples shown in the Material Design
      specifications.

      By default, all ripples will start fading out if the mouse or touch is released and the enter animation completed.
      The second possible behavior, which is also shown in the specifications, is that ripples start to fade out
      immediately on mouse or touch release.

      In some scenarios, developers might prefer that behavior over the default and would like to have the same for
      Angular Material. This behavior can be activated by specifying the terminateOnPointerUp global ripple option.
   </div>

   <div class="card p-2 width-600">
      <pre>{{c7}}</pre>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold mb-2">Updating global options at runtime</h3>

      To change global ripple options at runtime, just inject the MAT_RIPPLE_GLOBAL_OPTIONS provider and update the
      desired options. <br><br>

      There are various ways of injecting the global options. In order to make it easier to inject and update options at
      runtime, it's recommended to create a service that implements the RippleGlobalOptions interface.
   </div>

   <div class="card p-2 width-600">
      <pre>{{c8}}</pre>
   </div>

   <div class="card p-2 width-600 mt-2">
      <pre>{{c9}}</pre>
   </div>

   <div class="width-600 lh-text">
      Now that the global ripple options are set to a service we can inject, the service can be used update any global
      ripple option at runtime.
   </div>

   <div class="card p-2 width-600 mt-2">
      <pre>{{c10}}</pre>
   </div>

</div>