mat-toolbar {
   background-color: white;
}

.spacer {
   flex: 1 1 auto;
}

.mat-list {
   width: 100%;
   text-align: left;
}

mat-drawer-container {
   height: calc(100vh - 64px);

   mat-nav-list {
      padding-top: 0 !important;

      .link-mat {
         position: relative;

         .link-mat-list,
         .link-mat-list-angular {
            position: relative;
            display: block;
            text-decoration: none;
            color: white;
            padding: 14px;
            font-size: 1.1rem;
            transition: .2s ease-in-out;

            cursor: pointer;
         }

         .link-mat-list {
            width: 200px;
         }

         .link-mat-list-angular {
            width: 300px;
         }

         .link-mat-list:hover,
         .link-mat-list-angular:hover {
            background-color: rgba(255, 255, 255, 0.237);
         }

         .active-link {
            background-color: rgba(255, 255, 255, 0.237);
         }

         .active-link::after {
            position: absolute;
            height: 100%;
            width: 5px;
            background-color: white;
            content: '';
            right: 0;
            top: 0;
         }
      }
   }
}


.mat-drawer {
   scrollbar-color: #54585B #202529;
}