<div class="mt-4 align-items-end mb-4">
   <div class="lh-text width-600">
      Angular Material tabs organize content into separate views where only one view can be visible at a time. Each
      tab's label is shown in the tab header and the active tab's label is designated with the animated ink bar. When
      the list of tab labels exceeds the width of the header, pagination controls appear to let the user scroll left and
      right across the labels. <br><br>

      The active tab may be set using the selectedIndex input or when the user selects one of the tab labels in the
      header.
   </div>

   <p class="mt-4 text-bg-primary text-center p-2 rounded-5">Stepper overview</p>
   <mat-tab-group>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
   </mat-tab-group>

   <div class="mb-4 mt-4" id="accordianId" role="tablist" aria-multiselectable="true">
      <div class="card width-600">
         <div class="card-header" role="tab" id="section1HeaderId">
            <h5 class="mb-0">
               <a class="nav-link text-center" data-bs-toggle="collapse" data-bs-parent="#accordianId"
                  href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
                  component
               </a>
            </h5>
         </div>
         <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
            <div class="card-body">
               <pre class="pt-4">
                  {{code1}}
               </pre>
            </div>
         </div>
      </div>
      <div class="card width-600">
         <div class="card-header" role="tab" id="section2HeaderId">
            <h5 class="mb-0">
               <a class="nav-link text-center" data-bs-toggle="collapse" data-bs-parent="#accordianId"
                  href="#section2ContentId" aria-expanded="true" aria-controls="section2ContentId">
                  HTML
               </a>
            </h5>
         </div>
         <div id="section2ContentId" class="collapse in" role="tabpanel" aria-labelledby="section2HeaderId">
            <div class="card-body">
               <pre class="pt-4">
                  {{code2}}
               </pre>
            </div>
         </div>
      </div>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold">Events </h3>
      The selectedTabChange output event is emitted when the active tab changes. <br>

      The focusChange output event is emitted when the user puts focus on any of the tab labels in the header, usually
      through keyboard navigation. <br><br>
      <h3 class="fw-bold">Labels</h3>
      If a tab's label is only text then the simple tab-group API can be used.
   </div>

   <div class="card width-600 p-2">
      <pre>{{c1}}</pre>
   </div>

   <div class="width-600 lh-text">For more complex labels, add a template with the mat-tab-label directive inside the
      mat-tab.</div>

   <div class="card width-600 p-2">
      <pre>{{c2}}</pre>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold">Dynamic Height</h3>
      By default, the tab group will not change its height to the height of the currently active tab. To change this,
      set the dynamicHeight input to true. The tab body will animate its height according to the height of the active
      tab.
   </div>
  
   <div class="card width-600 p-2 mt-4">
      <pre>{{c3}}</pre>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold">Tabs and navigation</h3>
      While &lt;mat-tab-group> is used to switch between views within a single route, &lt;nav mat-tab-nav-bar> provides
      a tab-like UI for navigating between routes.
   </div>

   <div class="card width-600 p-2">
      <pre>{{c4}}</pre>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold">Lazy Loading</h3>
      By default, the tab contents are eagerly loaded. Eagerly loaded tabs will initialize the child components but not
      inject them into the DOM until the tab is activated. <br><br>

      If the tab contains several complex child components or the tab's contents rely on DOM calculations during
      initialization, it is advised to lazy load the tab's content. <br><br>

      Tab contents can be lazy loaded by declaring the body in a ng-template with the matTabContent attribute.
   </div>

   <div class="card width-600 p-2">
      <pre>{{c5}}</pre>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold">Label alignment</h3>
      If you want to align the tab labels in the center or towards the end of the container, you can do so using the
      [mat-align-tabs] attribute.
   </div>

   <div class="card width-600 p-2">
      <pre>{{c6}}</pre>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold">Controlling the tab animation</h3>
      You can control the duration of the tabs' animation using the animationDuration input. If you want to disable the
      animation completely, you can do so by setting the properties to 0ms. The duration can be configured globally
      using the MAT_TABS_CONFIG injection token.
   </div>

   <div class="card width-600 p-2">
      <pre>{{c7}}</pre>
   </div>

   <div class="width-600 lh-text">
      <h3 class="fw-bold">Keyboard interaction</h3>

      <table class="table">
         <thead>
            <tr>
               <th>Shorcut</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td scope="row">LEFT_ARROW</td>
               <td>Move focus to previous tab</td>
            </tr>
            <tr>
               <td scope="row">RIGHT_ARROW</td>
               <td> Move focus to next tab</td>
            </tr>
            <tr>
               <td scope="row">HOME</td>
               <td>Move focus to first tab</td>
            </tr>
            <tr>
               <td scope="row">END</td>
               <td>Move focus to last tab</td>
            </tr>
            <tr>
               <td scope="row">SPACE or ENTER</td>
               <td>Switch to focused tab</td>
            </tr>
         </tbody>
      </table>
   </div>

</div>